@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&family=Silkscreen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: black; }

body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/deep_spaceUSP.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

hr {
  color: #94dd26; }

p {
  color: white;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

.titulo__primario {
  text-align: center;
  color: #94dd26;
  text-align: center;
  text-shadow: 1px 2px 2px #6f26dd, 0 0 25px white, 0 0 5px #6f26dd, 0 0 20px white;
  font-family: 'Press Start 2P', cursive; }

.titulo__secundario {
  color: white;
  text-align: center;
  font-family: 'Silkscreen', cursive; }

.titulo__terciario {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif; }

.main__datos__btn {
  display: block;
  text-align: center;
  font-family: 'Silkscreen', cursive;
  text-decoration: none;
  color: white; }

.centrado {
  display: flex;
  justify-content: center;
  align-items: center; }

.card__bg__propio {
  background: rgba(2, 0, 36, 0.9);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.9) 0%, rgba(115, 41, 90, 0.9) 50%, rgba(2, 0, 36, 0.9) 100%);
  border: solid white 1px; }

.astronauta {
  display: block;
  margin: 0 auto; }

.div__bienvenida {
  margin: 0 auto;
  width: 85%; }
  .div__bienvenida .imagen__bienvenida {
    width: 75%;
    display: block;
    margin: 0 auto; }

.div__enlaces {
  width: 60%;
  margin: 0 auto; }
  .div__enlaces .div__enlaces__img {
    width: 90%;
    display: block;
    margin: 0 auto; }
    .div__enlaces .div__enlaces__img:hover {
      transform: scale(1.15); }
  .div__enlaces .transicion__nave {
    transition: all 3s; }

.capitulos {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .capitulos .capitulos__portada {
    width: 30%;
    padding: 3%;
    margin: 0 auto; }
    .capitulos .capitulos__portada .portadaimg {
      width: 100%; }
  .capitulos .capitulos__texto {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    margin: 0 auto; }

.caja__formulario {
  background: black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.548079) 0%, rgba(0, 0, 0, 0.704941) 50%, rgba(0, 0, 0, 0.937434) 100%);
  width: 85%;
  margin: 0 auto;
  font-family: 'Silkscreen', cursive; }
  .caja__formulario .boton {
    font-size: 1em;
    color: white; }

.botones {
  text-align: center; }

.grid__datos {
  display: grid;
  height: 100vh;
  width: auto; }
  .grid__datos .main__datos {
    margin: 0 auto; }

.menu {
  height: 15vh;
  flex-direction: row;
  justify-content: right;
  align-content: stretch; }
  .menu .header__pattern {
    background-image: url("../src/darkpattern.png");
    background-size: auto;
    background-position: center;
    background-repeat: repeat; }
    .menu .header__pattern .nav__item {
      font-family: 'Silkscreen', cursive;
      text-decoration: none;
      text-align: left;
      color: white; }

.pie {
  background-image: url("../src/darkpattern.png");
  background-size: auto;
  background-position: center;
  background-repeat: repeat; }
  .pie .pie__nav {
    padding: 10px;
    display: flex;
    justify-content: space-evenly; }
    .pie .pie__nav .pie__nav__link {
      color: white;
      text-decoration: none;
      padding: 0.1rem;
      font-family: 'Open Sans', sans-serif;
      display: inline-block; }
  .pie .pie__rights {
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Silkscreen', cursive; }
