html{
    background-color: $color-primario;
}

body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url("../src/deep_spaceUSP.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

hr {
    color: $color-secundario;
}

p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

a{
    text-decoration: none;
}

.titulo__primario{
    text-align: center;
    color: $color-secundario;
    text-align: center;
    text-shadow: 1px 2px 2px $color-terciario, 0 0 25px $color-blanco, 0 0 5px $color-terciario, 0 0 20px $color-blanco;
    font-family: 'Press Start 2P', cursive;
}

.titulo__secundario{
    color: $color-blanco;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

.titulo__terciario{
    color: $color-blanco;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.main__datos__btn{
    display: block;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    text-decoration: none;
    color: $color-blanco;
}

.centrado{
    @include flex-center
}

.card__bg__propio{
    background: rgba(2, 0, 36, 0.900);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.900) 0%, rgba(115, 41, 90, 0.900) 50%, rgba(2, 0, 36, 0.900) 100%);
    border: $borde-cajas;
}

.astronauta{
    @include block-auto
}