.caja__formulario{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.5480786064425771) 0%, rgba(0,0,0,0.7049413515406162) 50%, rgba(0,0,0,0.9374343487394958) 100%);
    width: 85%;
    margin: 0 auto;
    font-family: 'Silkscreen', cursive;
    .boton{
        font-size: 1em;
        color: white;
    }
}
.botones{
    text-align: center;
}