$color-primario: rgb(0, 0, 0);
$color-secundario: #94dd26;
$color-terciario: #6f26dd;

$fuente-primaria: 'Press Start 2P', cursive;
$fuente-secundaria: 'Silkscreen', cursive;
$fuente-terciaria: 'Open Sans', sans-serif;